* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}


/* NAV BAR  */ 

.logo {
    height: auto;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5px;
    background-color: #1F2937;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.nav-links li {
    display: inline-block;
    list-style: none;
    padding: 0px 10px;
    margin-right: 40px;

}

.nav-links li :hover {
    color: thistle;
}

/* Main Content */

.info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    color:#e5e7eb;
    background-color: #1F2937;
    margin-bottom: 50px;
}

.info {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: auto;
    gap: 15px;
}

.info-box button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 5px;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: bold;
    cursor: pointer;
    gap: 10px;
}

h1 {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
    margin: 0;
}

.info p {
    font-size: 12px;
    color: #e5e7eb;
    margin: 0;
}

.me {
    height: auto;
    width: 300px;
}

.headshot img {
    border-radius: 50%;
}


/* Secondary Container */

.secondary-container {
    align-items: center;
}

.secondary-container h2 {
    display: flex;
    justify-content: center;
    margin-top: -35px;
    margin-bottom: 10px;
}

.secondary-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.secondary-info img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border: 4px solid #3882f6;
  border-radius: 15px;
  margin: 40px 70px 0px 90px;
}


.secondary-info p {
    color: #1F2937;
    margin: 20px 40px 10px 60px;
}


/* Quotes */ 

.grey-space {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 10px solid #e5e7eb;
    text-align: center;
    margin-top: 50px;
    padding-top: 60px;
    padding-left: 150px;
    padding-bottom: 50px;
    background-color: #e5e7eb;
}

.grey-space .quoted {
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
    font-weight: bold;
}


/* Blue Box */

.blue-box {
    margin: 70px 100px 70px 100px;
    padding: 40px 50px 40px 50px;
    border: 2px solid #3882f6;
    border-radius: 20px;
    background-color: #3882f6;
}

.blue-box h4 {
    margin-left: 60px;
    color:#F9FAF8
}

.blue-box div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    color: #F9FAF8;
}

.blue-box button {
    text-align: center;
    width: 110px;
    border: 2px solid #F9FAF8;
    background: #3882f6;
    padding: 5px;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: bold;
    cursor: pointer;
    margin-right: 90px;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    text-align: center;
    color: #e5e7eb;
    padding-top: 20px;
    padding-bottom: 20px;
}